*{
    margin: 0%;
    padding: 0%;
}


.sky{
    position:absolute;
    height: 100vh;
    width: 100%;
    bottom: 25vh;
    background-image: url(background.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.track{
    background-image: url(road.jpg);
    height: 28vh;
    width: 800%;
    background-size:250vh;
    position: absolute;
    top: 100vh;
    animation: carMove linear 6s infinite;
}

.car{
    background-image: url(lambo.png);
    position:absolute;
    top: 100vh;
    height: 100px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
.wheel1 img {
    position: absolute;
    
    top: 40px;
    left: 26px;
    height: 60px;
    width: 60px;
    background-size: cover;
    animation: wheelRotation linear .6s infinite;
}
.wheel2 img {
    position: absolute;
    
    top: 43px;
    left: 238px;
    height: 60px;
    width: 60px;
    background-size: cover;
    animation: wheelRotation linear .6s infinite;
}

@keyframes wheelRotation{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove{
    100%{
        transform: translateX(-500vw);
    }
}









